.blogBody :is(h1, h2, h3, h4, h5, p) {
  margin-bottom: 16px;
  position: relative;
}

.blogBody h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 16px;
}

.blogBody mark {
  background: rgba(255, 255, 255, 0.2);
  color: white;
}
